body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Шапка */
header {
    background: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Контент */
main {
    padding: 20px;
}

/* Футер */
footer {
    background: #eee;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
